# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: React App CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
  
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
          node-version: ${{ matrix.node-version }} # Use the current Node.js version from the matrix
  
    - name: Install dependencies
      run: npm install
  
    - name: Run React tests
      run: npm test

    - name: Build React app
      run: npm run build

    - name: Upload production build as artifact
      uses: actions/upload-artifact@v3
      with:
        name: react-production-build
        path: build/

    - name: Run ESLint
      run: npm run lint
    
    - name: Start React app (optional)
      run: npm start